@model StreetFighter.Web.Models.SobreModel

@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conteudo">
    <h2>Mim</h2>
    <table>
        <tr>
            <td>
                <img src="http://static1.1.sqspcdn.com/static/f/280482/2136982/1226558953450/dhalsim_teleport.gif?token=QaesZaWSJMuahSmVV4VwY%2F%2F3w1g%3D alt="Blanka">
            </td>
            <td>
                <strong>Primeira aparição:</strong> @Model.PrimeiraAparicao<br>
                <strong>Nascimento:</strong> @Model.Nascimento <br>
                <strong>Altura:</strong> @Model.Altura <br>
                <strong>Peso:</strong> @Model.Peso <br>
                <strong>Medidas:</strong> @Model.Medidas <br>
                <strong>Tipo sanguíneo:</strong> @Model.TipoSanguineo <br>
                <strong>Habilidades especiais:</strong> @Model.HabilidadesEspeciais <br>
                <strong>Gosta:</strong> @Model.Gosta <br>
                <strong>Desgosta:</strong> @Model.Desgosta <br>
                <strong>Estilo de luta:</strong> @Model.EstiloDeLuta <br>
                <strong>Origem:</strong> @Model.Origem <br>
                <strong>Uma fala de vitória:</strong> @Model.UmaFalaDeVitoria <br>
                <strong>Golpes especiais famosos:</strong> @Model.GolpesEspeciaisFamosos <br>
            </td>
        </tr>
    </table>
</div>


